// Variable
$color-text-1: #ffffff;
$color-text-2: #ffefda;
$color-text-3: #cef1ff;
$color-text-black: #424242;
$color-bg: #2f81a3;
$color-paper-bg: #fffaf4;
$color-button: #ff7373;
$color-button--hover: #df5151;
$color-button--shadow: #de5f5f;
$color-highlight-text: #ffe07c;


// Font Face
@font-face {
    font-family: 'NotoSans-light';
    src: url('../fonts/NotoSansCJKtc-Light.otf') format("opentype");
}

@font-face {
    font-family: 'NotoSans-demilight';
    src: url('../fonts/NotoSansCJKtc-DemiLight.otf') format("opentype");
}

@font-face {
    font-family: 'NotoSans-regular';
    src: url('../fonts/NotoSansCJKtc-Regular.otf') format("opentype");
}

@font-face {
    font-family: 'NotoSans-medium';
    src: url('../fonts/NotoSansCJKtc-Medium.otf') format("opentype");
}

@font-face {
    font-family: 'NotoSans-bold';
    src: url('../fonts/NotoSansCJKtc-Bold.otf') format("opentype");
}


// Typography
h1 { font-size: 36px; }
h2 { font-size: 14px; }
h3 { font-size: 16px; }
p  { font-size: 16px; }

h1, h3 { font-weight: normal; }


// General Styles
body {
	background-color: $color-bg;
	color: $color-text-1;
	font-family: 'NotoSans-light' !important;
}

section {
	width: 100%;
	height: 600px;
	margin: 0 auto;
}

.btn-action {
	margin-top: 0;
	border: none;
	color: $color-text-1;
	background-color: $color-button;
	box-shadow: 0 4px 0 0 $color-button--shadow;
	transition: all 0.2s ease-out;

	&:hover, &:focus, &:active {
		margin-top: 3px;
		background-color: $color-button--hover;
		box-shadow: 0 0 0 0 $color-button--shadow;
		color: #ffc2c2;
		box-shadow: none;
	}
}


// Specific Styles
// Step 1
.step-1 {
	position: relative;
	padding-top: 159px;
	transition: all 0.6s ease-out 0.6s;

	&.is-slide-up {
		height: 0;
		padding-top: 100px;
	}
}

.app-header,
.input-area {
	margin-top: 0;
	text-align: center;
	
}

.app-header {
	transition: all 0.6s ease-out 0.3s;

	&.is-silde-up {
		margin-top: -400px;
	}
}

.input-area {
	transition: all 0.6s ease-out 0.6s;

	&.is-silde-up {
		margin-top: -200px;
	}	
}

.app-header__title {
	width: 337px;
	height: 86px;
    margin: 20px auto;
    padding: 15px 0 0 20px;
	background-image: url('../img/step-1/img-step-1-title-b-g.svg');
	background-repeat: no-repeat;
	letter-spacing: 18.5px;
    text-align: center;
    color: $color-text-2;
}

.app-header__desc {
	
}

.input-area {
	margin-top: 64px;
}

.inut-area__tip {
	margin-bottom: 18px;
	font-family: 'NotoSans-medium';
}

.input-area__button {
	padding: 10px 20px;
	font-size: 18px;
	font-family: 'NotoSans-regular';
}

.stuff--top-left,
.stuff--top-right,
.stuff--bottom-left,
.stuff--bottom-right {
	position: absolute;
}

.stuff--top-left {
	left: 0;
	top: 0;
	width: 150px;
	height: 180px;
	background: url('../img/step-1/img-step-1-paper-ball-a.svg') no-repeat 10px 15px;
	transition: all 0.5s ease-out;

	&::after {
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: url('../img/step-1/img-step-1-paper-ball-b.svg') no-repeat 70px 90px;
	}

	&.is-fly-away {
		left: -300px;
		top: -300px;
	}
}

.stuff--top-right {
	width: 380px;
	height: 520px;
	top: -200px;
    right: -120px;
	background: url('../img/step-1/img-step-1-top-right-paper.svg') no-repeat 50px 10px;
	transform: rotateZ(35deg);
	transition: all 0.5s ease-out;

	&::after {
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: url('../img/step-1/img-step-1-paper-ball-c.svg') no-repeat 280px 410px;
	}

	&.is-fly-away {
		top: -500px;
	    right: -420px;
	}
}

.stuff--bottom-left {
	width: 250px;
    height: 300px;
    bottom: -80px;
    left: -20px;
    background: url("../img/step-1/img-step-1-bottom-left-paper.svg") no-repeat -140px 40px;
    transform: rotateZ(-20deg);
    transition: all 0.5s ease-out;

    &::after {
    	content: '';
    	position: absolute;
    	top: 0;
    	bottom: 0;
    	left: 0;
    	right: 0;
    	background: url('../img/step-1/img-step-1-pen.svg') no-repeat 145px 25px;
    	transform: rotateZ(60deg);
    }

    &.is-fly-away {
		bottom: -380px;
		left: -320px;
    }
}

.stuff--bottom-right {
	width: 12px;
	height: 150px;
	bottom: 50px;
	right: 180px;
	background: url("../img/step-1/img-step-1-pencil.svg") no-repeat;
	transform: rotateZ(155deg);
	transition: all 0.5s ease-out;

	&.is-fly-away {
		bottom: -250px;
		right: -120px;
	}
}


// Step 2
.step-2 {
	text-align: center;
}

.input {
	width: 400px;
	margin: 150px auto 0;
	line-height: 1.8;
	text-align: left;
	transition: all 0.6s ease-out 0.6s;
	
	&.is-slide-up {
		margin: 0 auto 0;
	}
}

.input__title {
	display: none;
}

.input__content {

}

.processing-bar {
	display: none;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


// Step 3
.step-3 {
}

.output {
	position: relative;
	width: 350px;
	height: 470px;
	margin: 0 auto;
}

.output__title {
	position: absolute;
	z-index: 100;
	left: -20px;
	top: -20px;
	width: 150px;
	height: 38px;
	margin: 0;
	padding-left: 15px;
	background: url("../img/step-3/img-step-3-title-flag.svg") no-repeat;
	line-height: 38px;
}

.output__content {
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	padding: 20px 40px;
	background-color: $color-paper-bg;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.06), 0 2px 2px 0 rgba(0, 0, 0, 0.12);
    color: $color-text-black;
    text-align: left;

	&::after {
		content: '';
		position: absolute;
		z-index: -100;
		right: -80px;
		bottom: -55px;
		width: 145px;
		height: 150px;
		background: url('../img/step-3/img-step-3-envelop.svg');
	}
}